@using Microsoft.AspNetCore.Identity
@using DistillerieManzibar.Enums
@model IEnumerable<DistillerieManzibar.Models.Command>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Commandes";
    ApplicationUser currentUser = await UserManager.GetUserAsync(User);

}

<div class="shadow p-3 mb-5 bg-light rounded">

    <h1>@ViewData["Title"]</h1>

    <div class="d-flex flex-row-reverse">
        <a asp-action="Create">
            <button class="btn btn-success btn-sm">Ajouter</button>
        </a>
    </div>
    <div class="overflow-auto" style="max-height: 600px;">

        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LiquidCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BilledAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pricing.Price)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                var price = item.Pricing.Price * item.Quantity;

                <tr class="@(item.BilledAt != null & item.DeliveryAt != null ? "table-success" : "")">
                    <td class="text-center">
                        @if (item.LiquidCategory == LiquidCategory.Alcool)
                        {
                            <i class="fas fa-beer" style="color: #fd7e14" data-toggle="tooltip" data-placement="top" title="Alcool"></i>
                        }
                        else
                        {
                            <i class="fas fa-tint text-primary" data-toggle="tooltip" data-placement="top" title="Eau"></i>
                        }
                    </td>
                    <td class="text-center">
                        @item.CreatedAt.ToString("d")
                    </td>
                    <td class="text-center">
                        <span class="badge badge-dark">@Html.DisplayFor(modelItem => item.Quantity)</span>

                    </td>
                    <td class="text-center">
                        @item.BilledAt?.ToString("d")
                    </td>
                    <td class="text-center">
                        @item.DeliveryAt?.ToString("d")
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Company.Name)
                    </td>
                    <td class="text-center">
                        <span class="badge badge-success">$ @price</span>
                    </td>
                    <td class="text-center">
                        @if ((User.IsInRole("Boss") || User.IsInRole("CoBoss")) && item.BilledAt == null)
                        {
                            <a asp-action="Billed" asp-route-id="@item.CommandId">
                                <button class="btn btn-sm btn-success" title="Payé">
                                    <i class="fas fa-cash-register"></i>
                                </button>
                            </a>
                        }
                        @if (item.DeliveryAt == null)
                        {
                            <a asp-action="Delivery" asp-route-id="@item.CommandId">
                                <button class="btn btn-sm btn-warning" title="Livré">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </button>
                            </a>
                        }
                        @if (item.DeliveryAt == null || item.BilledAt == null)
                        {
                            @if (item.ApplicationUsers.Any(m => m.Id == currentUser.Id))
                            {
                                <a asp-action="DeliveryParticipationRemove" asp-route-id="@item.CommandId">
                                    <button class="btn btn-sm btn-danger" title="Supprimer mivreur">
                                        <i class="fas fa-car-side"></i><i> (@item.ApplicationUsers.Count)</i>
                                    </button>
                                </a>
                            }
                            else
                            {
                                <a asp-action="DeliveryParticipation" asp-route-id="@item.CommandId">
                                    <button class="btn btn-sm btn-dark" title="Livreur">
                                        <i class="fas fa-car-side"></i><i> (@item.ApplicationUsers.Count)</i>
                                    </button>
                                </a>
                            }
                            <a asp-action="Edit" asp-route-id="@item.CommandId">
                                <button class="btn btn-sm btn-primary">
                                    <i class="fas fa-pen"></i>
                                </button>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.CommandId">
                                <button class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </a>
                        }
                    </td>
                </tr>
                <tr class="@(item.BilledAt != null & item.DeliveryAt != null ? "table-success" : "")">
                    <td colspan="8">
                        <i class="far fa-arrow-alt-circle-up" data-toggle="tooltip" data-placement="top" title="Livreurs"></i>
                        @foreach (ApplicationUser applicationUser in item.ApplicationUsers)
                        {
                            <span class="badge bg-primary text-white">@applicationUser.FullName()</span>
                        }


                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>