@model IEnumerable<DistillerieGtaRP.Models.Car>
@using Microsoft.AspNetCore.Identity
@using DistillerieGtaRP.Helpers
@using DistillerieGtaRP.Enums
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Véhicules";
    ApplicationUser currentUser = await UserManager.GetUserAsync(User);
}

<div class="row">
    <div class="col-5">
        <div class="shadow p-3 mb-5 bg-light rounded">
            <div class="overflow-auto" style="max-height: 600px;">

                <h1>Véhicules</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Registration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationUser)
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Registration)
                            </td>
                            <td>
                                @(item.ApplicationUser is not null ? item.ApplicationUser.FullName() : "Libre")
                            </td>
                            <td>
                                @if (item.ApplicationUser == null)
                                {
                                    <a asp-action="KeyAttribute" asp-route-id="@item.CarId">
                                        <button class="btn btn-primary btn-sm">Prendre</button>
                                    </a>
                                }
                                else
                                {
                                    if (item.ApplicationUser == currentUser)
                                    {
                                        <a asp-action="KeyRemoved" asp-route-id="@item.CarId">
                                            <button class="btn btn-danger btn-sm">Rendre</button>
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="shadow p-3 mb-5 bg-light rounded ">
            <h1>Horodateur</h1>
            <div class="overflow-auto" style="max-height: 600px;">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>
                            Employé
                        </th>
                        <th>
                            Horodatage
                        </th>
                        <th>
                            Sens
                        </th>
                        <th>
                            Véhicule
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (CarLog item in ViewBag.CarLogs)
                    {
                        <tr>
                            <td>
                                @item.ApplicationUser.FullName()
                            </td>
                            <td>
                                @item.CreatedAt.ToString("g")
                            </td>
                            <td>
                                @{
                                    var direction = EnumHelper<CarDirection>.GetDisplayValue(item.CarDirection);
                                }
                                <span class='badge badge-@(item.CarDirection == CarDirection.Get ? "success" : "danger")'>@direction</span>
                            </td>
                            <td>
                                @item.Car.Name
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>