@model IEnumerable<DistillerieManzibar.Models.Transaction>
@using Microsoft.AspNetCore.Identity
@using DistillerieManzibar.Enums
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Transactions";
    ApplicationUser currentUser = await UserManager.GetUserAsync(User);
}


<div class="shadow p-3 mb-5 bg-light rounded">
    <h1>Transactions</h1>
    <div class="d-flex flex-row-reverse">
        <a asp-action="Create">
            <button class="btn btn-success btn-sm">Ajouter</button>
        </a>
    </div>
    <div class="overflow-auto" style="max-height: 600px;">

        <table class="table">
            <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ApplicationUser)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.LiquidCategory)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Destination)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        <span class="badge bg-info text-white">@Html.DisplayFor(modelItem => item.CreatedAt)</span>
                    </td>
                    <td class="text-center">
                        <span class="badge bg-secondary text-white">@item.ApplicationUser.FullName()</span>

                    </td>
                    <td class="text-center">
                        @if (item.LiquidCategory == LiquidCategory.Alcool)
                        {
                            <i class="fas fa-beer" style="color: #fd7e14" data-toggle="tooltip" data-placement="top" title="Alcool"></i>
                        }
                        else
                        {
                            <i class="fas fa-tint text-primary" data-toggle="tooltip" data-placement="top" title="Eau"></i>
                        }
                    </td>
                    <td class="text-center">
                        @if (item.Destination == Destination.Export)
                        {
                            <i class="fas fa-ship" style="color: #006AD4" data-toggle="tooltip" data-placement="top" title="Exportation"></i>
                        }
                        else
                        {
                            <i class="fas fa-box" style="color: #D49000" data-toggle="tooltip" data-placement="top" title="Stock"></i>
                        }
                    </td>
                    <td class="text-center">
                        <span class="badge bg-primary text-white">@Html.DisplayFor(modelItem => item.Quantity)</span>

                    </td>
                    <td class="text-center">
                        @if (item.ApplicationUser == currentUser)
                        {
                            <a asp-action="Edit" asp-route-id="@item.TransactionId">
                                <button class="btn btn-primary btn-sm">Editer</button>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.TransactionId">
                                <button class="btn btn-danger btn-sm">Supprimer</button>
                            </a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>